<?xml version="1.0" encoding="utf-8"?>
<Content Key="ac8b95e9-37dc-4cd2-820c-ed149500b994" Alias="123" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2026-09-16T11:10:50</CreateDate>
    <NodeName Default="123" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019d6fd3-2175-70e5-9f15-737f1b4806f8">ContentPage</Template>
  </Info>
  <Properties>
    <accessRole>
      <Value><![CDATA[[
  "Doctor",
  "Patient"
]]]></Value>
    </accessRole>
    <bodyContent>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003Eadwasdwasd\u003C/p\u003E"
}]]></Value>
    </bodyContent>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <overview>
      <Value><![CDATA[dwdsdw]]></Value>
    </overview>
    <pageTitle>
      <Value><![CDATA[Caffeine & Heart Health]]></Value>
    </pageTitle>
  </Properties>
</Content>