<?xml version="1.0" encoding="utf-8"?>
<Content Key="4fcfc7f5-5aae-490a-9580-7af048f6f856" Alias="Caffeine Survey" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CaffeineSurvey</Path>
    <Trashed>false</Trashed>
    <ContentType>surveyPage</ContentType>
    <CreateDate>2026-09-22T06:42:31</CreateDate>
    <NodeName Default="Caffeine Survey" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="091d512e-3ac5-42dd-9ac3-0d3fc16ff019">surveyPage</Template>
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[[
  "Other"
]]]></Value>
    </category>
    <description>
      <Value><![CDATA[Survey on caffeine]]></Value>
    </description>
    <form>
      <Value><![CDATA[ca1f8ee1-d9bb-422a-a410-bb3241b4e62f]]></Value>
    </form>
    <organisationName>
      <Value><![CDATA[World Health Organisation]]></Value>
    </organisationName>
    <recipients>
      <Value><![CDATA[[
  "Patient",
  "General Practitioner",
  "Specialist"
]]]></Value>
    </recipients>
  </Properties>
</Content>