<?xml version="1.0" encoding="utf-8"?>
<Content Key="4d6416c1-ef02-4df5-8d55-31656ef6872e" Alias="Heart Failure Warning Signs" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HeartFailureWarningSigns</Path>
    <Trashed>false</Trashed>
    <ContentType>videoPage</ContentType>
    <CreateDate>2026-05-24T14:51:24</CreateDate>
    <NodeName Default="Heart Failure Warning Signs" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019d6fe1-a1de-73be-a9ee-5c43556f95cd">VideoPage</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EThis video explains common warning signs of heart failure, including shortness of breath, swelling, fatigue, and rapid weight gain. Learn how early symptom recognition can support faster treatment and better long-term heart health outcomes.\u003C/p\u003E"
}]]></Value>
    </description>
    <overview>
      <Value><![CDATA[Learn early symptoms and when to seek help.]]></Value>
    </overview>
    <pageTitle>
      <Value><![CDATA[Heart Failure Warning Signs Explained]]></Value>
    </pageTitle>
    <thumbnail>
      <Value><![CDATA[]]></Value>
    </thumbnail>
    <videoUrl>
      <Value><![CDATA[https://www.youtube.com/watch?v=52eMwhf8UfI]]></Value>
    </videoUrl>
  </Properties>
</Content>