<?xml version="1.0" encoding="utf-8"?>
<Content Key="e6a5ec92-9320-4e24-ae93-7a8f6eb29e46" Alias="Heart Failure Condition" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HeartFailureCondition</Path>
    <Trashed>false</Trashed>
    <ContentType>conditionPage</ContentType>
    <CreateDate>2026-05-08T04:43:58</CreateDate>
    <NodeName Default="Heart Failure Condition" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bodyContent>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003E\u003Cstrong\u003EOverview\u003C/strong\u003E\u003C/p\u003E\u003Cul data-pm-slice=\u00223 1 []\u0022\u003E\u003Cli\u003E\u003Cp\u003EHeart failure is a condition where the heart cannot pump blood effectively enough to meet the body\u2019s needs.\u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003EIt does not mean the heart has stopped working.\u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003EIt can develop gradually over time or suddenly after heart damage.\u003C/p\u003E\u003C/li\u003E\u003C/ul\u003E\u003Cp\u003E\u003C/p\u003E"
}]]></Value>
    </bodyContent>
    <causes>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003E\u003Cstrong\u003ECauses\u003C/strong\u003E\u003C/p\u003E\u003Cul\u003E\u003Cli\u003E\u003Cp\u003EShortness of breath during activity or when lying down\u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003EFatigue and reduced ability to exercise\u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003ESwelling in the legs, ankles, or feet\u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003ERapid or irregular heartbeat\u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003EPersistent cough or wheezing\u003C/p\u003E\u003C/li\u003E\u003C/ul\u003E\u003Cp\u003E\u003C/p\u003E"
}]]></Value>
    </causes>
    <overview>
      <Value><![CDATA[Overview of heart failure]]></Value>
    </overview>
    <pageTitle>
      <Value><![CDATA[Heart Failure Condition]]></Value>
    </pageTitle>
    <relatedContentLinks>
      <Value><![CDATA[]]></Value>
    </relatedContentLinks>
    <symptoms>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003E\u003Cstrong\u003ESymptoms\u003C/strong\u003E\u003C/p\u003E\u003Cul\u003E\u003Cli\u003E\u003Cp\u003EShortness of breath during activity or when lying down\u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003EFatigue and reduced ability to exercise\u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003ESwelling in the legs, ankles, or feet\u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003ERapid or irregular heartbeat\u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003EPersistent cough or wheezing\u003C/p\u003E\u003C/li\u003E\u003C/ul\u003E\u003Cp\u003E\u003C/p\u003E"
}]]></Value>
    </symptoms>
    <treatments>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003E\u003Cstrong\u003ELifestyle changes:\u003C/strong\u003E\u003C/p\u003E\u003Cul\u003E\u003Cli\u003E\u003Cp\u003ELow-salt diet\u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003ERegular physical activity\u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003EFluid management\u003C/p\u003E\u003C/li\u003E\u003Cli\u003E\u003Cp\u003ESmoking cessation\u003C/p\u003E\u003C/li\u003E\u003C/ul\u003E\u003Cp\u003E\u003C/p\u003E"
}]]></Value>
    </treatments>
    <whenToSeekHelp>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003E\u003C/p\u003E"
}]]></Value>
    </whenToSeekHelp>
  </Properties>
</Content>