<?xml version="1.0" encoding="utf-8"?>
<Content Key="56ad6cd2-02e1-41f7-addc-79b9328b7efd" Alias="Placeholder" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Placeholder</Path>
    <Trashed>false</Trashed>
    <ContentType>videoPage</ContentType>
    <CreateDate>2026-04-09T01:39:09</CreateDate>
    <NodeName Default="Placeholder" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019d6fe1-a1de-73be-a9ee-5c43556f95cd">VideoPage</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EChronic heart failure refers to the clinical features of impaired heart function, specifically the function of the left ventricle to pump blood out of the heart and around the body.\u003C/p\u003E"
}]]></Value>
    </description>
    <overview>
      <Value><![CDATA[Take a look at heart failure]]></Value>
    </overview>
    <pageTitle>
      <Value><![CDATA[Introduction]]></Value>
    </pageTitle>
    <thumbnail>
      <Value><![CDATA[]]></Value>
    </thumbnail>
    <videoUrl>
      <Value><![CDATA[https://www.youtube.com/watch?v=Jbdzgu-Zr6I]]></Value>
    </videoUrl>
  </Properties>
</Content>