<?xml version="1.0" encoding="utf-8"?>
<Content Key="5465820d-bd29-4f75-8788-bce80b1fa7e7" Alias="Research Survey" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ResearchSurvey</Path>
    <Trashed>false</Trashed>
    <ContentType>sd</ContentType>
    <CreateDate>2026-09-22T05:59:47</CreateDate>
    <NodeName Default="Research Survey" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="091d512e-3ac5-42dd-9ac3-0d3fc16ff019">surveyPage</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[A short description]]></Value>
    </description>
    <form>
      <Value><![CDATA[23e126ce-35d8-4e99-b229-d6e457453b23]]></Value>
    </form>
    <recipients>
      <Value><![CDATA[[
  "Patient"
]]]></Value>
    </recipients>
  </Properties>
</Content>