<?xml version="1.0" encoding="utf-8"?>
<Content Key="614348bb-ee4b-4d72-a060-e593bcb039dc" Alias="root" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/root</Path>
    <Trashed>false</Trashed>
    <ContentType>articlePage</ContentType>
    <CreateDate>2026-05-24T14:15:01</CreateDate>
    <NodeName Default="root" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bodyContent>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003E\u003Cimg src=\u0022?rmode=max\u0026amp;width=500\u0026amp;height=500\u0026amp;hmac=d1156395b5bc2ce45be20a0323acdc71ed23b120683b808f7dca8deb15415d2f\u0022 alt=\u0022images (1).jpg\u0022 width=\u0022500\u0022 height=\u0022333\u0022 data-udi=\u0022umb://media/c3db0722c4c949d4b90166cd733918aa\u0022\u003E\u003C/p\u003E\u003Cp\u003E\u003C/p\u003E"
}]]></Value>
    </bodyContent>
    <category>
      <Value><![CDATA[[
  "Research \u0026 Clinical Studies"
]]]></Value>
    </category>
    <overview>
      <Value><![CDATA[A picture of Banana]]></Value>
    </overview>
    <pageTitle>
      <Value><![CDATA[Banana]]></Value>
    </pageTitle>
    <visibility>
      <Value><![CDATA[[
  "Patient",
  "General Practitioner",
  "Specialist",
  "Researcher"
]]]></Value>
    </visibility>
  </Properties>
</Content>