<?xml version="1.0" encoding="utf-8"?>
<Content Key="ad2748c5-8fdf-4917-92e0-7930649f1109" Alias="sdsad" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/sdsad</Path>
    <Trashed>false</Trashed>
    <ContentType>sd</ContentType>
    <CreateDate>2026-09-22T06:04:31</CreateDate>
    <NodeName Default="sdsad" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8ee5287d-ea32-45a3-be7a-ca094d327712">survey</Template>
  </Info>
  <Properties>
    <form>
      <Value><![CDATA[0d9d2b49-7b13-4927-9b7c-d94d58e07fc2]]></Value>
    </form>
    <recipients>
      <Value><![CDATA[[
  "Patient"
]]]></Value>
    </recipients>
  </Properties>
</Content>