<?xml version="1.0" encoding="utf-8"?>
<Content Key="6e97c73e-f6d9-485a-939e-4345da896ffd" Alias="Surveys" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Surveys</Path>
    <Trashed>false</Trashed>
    <ContentType>survey</ContentType>
    <CreateDate>2026-09-02T17:23:12</CreateDate>
    <NodeName Default="Surveys" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="091d512e-3ac5-42dd-9ac3-0d3fc16ff019">surveyPage</Template>
  </Info>
  <Properties />
</Content>