/* ===== Global Theme ===== */

:root {
  --primary: #e1e5f5;
  --primary-dark: #aaafda;
  --secondary: #868ca6;
  --secondary-dark: #686e82;
  --surface: #ffffff; /* cards */
  --border: #dcdde1; /* subtle borders */

  --text-main: #000000; /* black */
  --text-secondary: #555555; /* grey text */
  --text-light: #ffffff; /* white */

  --content-header: #d8dded;
}
/* Reset */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: var(--background);
  color: var(--text-main);
}

/* ===Content Container=== */
.content-container {
  border: 1px solid rgba(0, 0, 0, 50%);
  border-radius: 20px;
  width: fit-content;
}

.content-header {
  background-color: var(--content-header);
  border-radius: 20px 20px 0px 0px;
  font-weight: bold;
  margin: 0;
  display: inline-block;
  width: 100%;
  padding: 5px 20px;
}

.content-body {
  padding: 5px 20px;
}
