<?xml version="1.0" encoding="utf-8"?>
<DataType Key="92180e7a-9a5a-4372-b672-8bbad7321fdd" Alias="Author - Text Box" Level="1">
  <Info>
    <Name>Author - Text Box</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextBox</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "inputType": "text",
  "maxChars": 512
}]]></Config>
</DataType>