<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f38f0ac7-1d27-439c-9f3f-089cd8825a53" Alias="Category - Dropdown" Level="1">
  <Info>
    <Name>Category - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Research \u0026 Clinical Studies",
    "Education \u0026 Information",
    "Treatment \u0026 Medication",
    "Symptoms \u0026 Wellbeing",
    "Lifestyle \u0026 Self-Management",
    "Other"
  ],
  "multiple": false
}]]></Config>
</DataType>