<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1eb18eef-7516-4edf-b2a7-fe6d1861f8cd" Alias="Generic -  - Block List" Level="1">
  <Info>
    <Name>Generic -  - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "88b61f2b-f6e9-4a2d-97a3-ad41c492659e"
    }
  ]
}]]></Config>
</DataType>