<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8c334006-f92c-41ad-9007-9abe44125f76" Alias="Organisation - Text Box" Level="1">
  <Info>
    <Name>Organisation - Text Box</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextBox</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "inputType": "text",
  "maxChars": 512
}]]></Config>
</DataType>