<?xml version="1.0" encoding="utf-8"?>
<DataType Key="59f064ea-2390-4601-a814-d7976874f97f" Alias="Overview - Text Box" Level="1">
  <Info>
    <Name>Overview - Text Box</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextBox</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "inputType": "text",
  "maxChars": 512
}]]></Config>
</DataType>