<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6cb44823-c58b-4418-ab94-22df361e40d0" Alias="sd Page - s - Form Picker (Single)" Level="1">
  <Info>
    <Name>sd Page - s - Form Picker (Single)</Name>
    <EditorAlias>UmbracoForms.FormPicker</EditorAlias>
    <EditorUIAlias>Forms.PropertyEditorUi.FormPicker.Single</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>