<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d72642db-193d-4aec-ba1c-2bb2c4334d6e" Alias="s Page - Recipients - Checkbox List" Level="1">
  <Info>
    <Name>s Page - Recipients - Checkbox List</Name>
    <EditorAlias>Umbraco.CheckBoxList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.CheckBoxList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Patient",
    "General Practitioner",
    "Doctor",
    "Specialist",
    "Nurse",
    "Healthcare Professional",
    "Researcher"
  ]
}]]></Config>
</DataType>