<?xml version="1.0" encoding="utf-8"?>
<DataType Key="39313e4b-9054-4faf-b177-bfe012f41fed" Alias=" - Survey - Form Picker (Single)" Level="1">
  <Info>
    <Name> - Survey - Form Picker (Single)</Name>
    <EditorAlias>UmbracoForms.FormPicker</EditorAlias>
    <EditorUIAlias>Forms.PropertyEditorUi.FormPicker.Single</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>