<?xml version="1.0" encoding="utf-8"?>
<Media Key="7bed13b6-3050-4209-b061-4f1b823c35e4" Alias="Heart-Failure-Symptoms-Causes-Complications-Diagnosis-Treatment-Prevention-PACE-Hospitals-Hyderabad-India-1920w.jpg.webp" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HeartFailureSymptomsCausesComplicationsDiagnosisTreatmentPreventionPACEHospitalsHyderabadIndia1920wjpgwebp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-05-24T14:13:29</CreateDate>
    <NodeName Default="Heart-Failure-Symptoms-Causes-Complications-Diagnosis-Treatment-Prevention-PACE-Hospitals-Hyderabad-India-1920w.jpg.webp" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": [],
  "src": "/media/hhmlxtjz/heart-failure-symptoms-causes-complications-diagnosis-treatment-prevention-pace-hospitals-hyderabad-india-1920wjpg.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>