<?xml version="1.0" encoding="utf-8"?>
<Media Key="5b73e8c5-c2a4-4e33-9906-a696b7634a01" Alias="Heart" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Heart</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-09-22T10:49:51</CreateDate>
    <NodeName Default="Heart" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/jirdl1on/images.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>