<?xml version="1.0" encoding="utf-8"?>
<Media Key="c3db0722-c4c9-49d4-b901-66cd733918aa" Alias="images (1).jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/images1Jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-09-22T11:46:32</CreateDate>
    <NodeName Default="images (1).jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/vxgj03na/images-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>