<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2195a49a-af4a-4faa-8a39-929bce7a5372" Alias="survey" Level="1">
  <Info>
    <Name>Survey Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>surveyPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="091d512e-3ac5-42dd-9ac3-0d3fc16ff019">surveyPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>