.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  background: var(--primary-dark);
  color: var(--text-light);

  padding: 1rem 2rem;

  position: sticky;
  top: 0;
  z-index: 1000;

  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

/* ===== Left ===== */

.navbarLeft {
  display: flex;
  align-items: center;
}

.logoLink {
  display: flex;
  align-items: center;
  gap: 0.7rem;

  text-decoration: none;
}

.logoLink:hover {
  opacity: 1;
}

.logo {
  width: 10rem;
  height: 3rem;
}

.title {
  font-weight: bold;
  color: var(--text-main);
  font-size: 1.2rem;
}

/* ===== Center ===== */

.navbarCenter {
  display: flex;
  align-items: center;
  gap: 1.5rem;

  flex-wrap: wrap;
}

.navbarCenter a {
  color: var(--text-main);
  text-decoration: none;

  font-size: 1rem;
  padding: 0.5rem;

  transition: opacity 0.2s ease;
}

.navbarCenter a:hover {
  opacity: 0.6;
  text-decoration: underline;
}

/* ===== Right ===== */

.navbarRight {
  display: flex;
  align-items: center;
  gap: 1rem;

  flex-wrap: wrap;
}

.hi {
  text-decoration: none;
  color: var(--text-main);
}

.hi:hover {
  opacity: 40%;
}

.joinUs {
  background: var(--secondary);
  color: white;

  border-radius: 0.6rem;
  border: none;

  padding: 0.7rem 1.4rem;

  font-size: 1rem;
  font-weight: 600;

  cursor: pointer;

  transition:
    opacity 0.2s ease,
    transform 0.15s ease;
}

.joinUs:hover {
  opacity: 0.85;
}

.joinUs:active {
  transform: scale(0.98);
}

@media (max-width: 900px) {
  .navbar {
    gap: 1rem;
  }

  .navbarCenter {
    width: 100%;
    justify-content: center;
  }

  .navbarRight {
    width: 100%;
    justify-content: center;
  }

  .searchBar {
    max-width: 100%;
  }
}
