/* ===== Body ===== */

/* Remove default browser spacing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Page font */
body {
    font-family: Arial, sans-serif;
    color: #17365d;
}

/* ===== Navbar ===== */

.navbar {
    width: 100%;
    height: 72px;
    background: #ffffff;

    display: flex;
    align-items: center;

    border-bottom: 1px solid #eeeeee;
}

.navContainer {
  width: 100%;
  padding: 0 100px;

  display: flex;
  align-items: center;
}

/* ===== Logo ===== */

.logo {
  display: flex;
  align-items: center;
  gap: 10px;

  text-decoration: none;
  flex-shrink: 0;
}

.logoIcon {
  color: #1976D2;
  font-size: 45px;
  flex-shrink: 0;
}

.logoText {
  display: flex;
  flex-direction: column;
  justify-content: center;

}


.logoTitle {
  color: #000000;
  font-size: 25px;
  font-weight: 700;
  line-height: 1.1;
  white-space: nowrap;
}

.logoOrg {
  color: #6b7280;
  font-size: 13px;
  font-weight: 400;
  line-height: 1;
  margin-top: 0;
}

/* ===== Links ===== */

.navLinks {
  display: flex;
  align-items: center;
  gap: 30px;

  margin-left: auto;
  margin-right: auto;
}

.navLinks a {
  position: relative;

  text-decoration: none;
  color: #405a78;

  font-size: 16px;

  padding: 26px 0;
}

/* Hover */
.navLinks a:hover {
  color: #1976d2;
}

/* Active link */
.navLinks .active {
  color: #1976d2;
}

/* Blue line underneath active link */
.navLinks .active::after {
  content: "";

  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 3px;

  background: #1976d2;
  border-radius: 3px;
}

.navLinks a:hover {
  color: #1976d2;
}


/* ===== Right Side ===== */

.navActions {
  display: flex;
  align-items: center;
  gap: 14px;
}

/* Search button */
.searchBar {
  width: 280px;

  display: flex;
  align-items: center;

  border: 1px solid #d5dce5;
  border-radius: 8px;

  padding: 4px 8px;
}

.searchBar input {
  flex: 1;

  border: none;
  outline: none;

  font-size: 15px;
}

.searchBtn {
  border: none;
  background: transparent;

  font-size: 22px;
  color: #365573;

  cursor: pointer;
}

.searchBtn:hover {
  color: #1976d2;
}
/* Login / Register */

.login {
  text-decoration: none;
  background: #287fe0;
  color: white;
  padding: 12px 27px;
  border-radius: 10px;
  font-weight: 600;
}

.login:hover {
   background: #176bc4;
}

.register {
  text-decoration: none;
  color: #287fe0;
  border: 1px solid #287fe0;
  padding: 11px 25px;
  border-radius: 10px;
  font-weight: 600;
}

.register:hover {
    background: #eef6ff;
}


